    <!--EXTERNAL FILES-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script type="text/javascript" src="/js/script.js"></script>

    <!--META-->
    <meta charset="UTF-8">
    <meta name="description" content="Official czech band websites">
    <meta name="keywords" content="Klír Špajz">
    <meta name="author" content="Prion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>