    <!--LOGO-->
    <a href="/"><img src="/img/logo.png" alt="logo"></a>

    <!--MENU-->
    <nav>
      <div id="menu">
        <a href="/">HOME</a>
        <a href="/about">O NÁS</a>
        <a href="/concerts">KONCERTY</a>
        <a href="/albs">ALBA</a>
        <a href="/gallery">GALERIE</a>
        <a href="/contact">KONTAKT</a>
      </div>
      <button onclick="topFunction()" id="myBtn" title="Přesunout se nahoru">Nahoru</button>
    </nav>