{% extends "layout.html" %}
{% block title %}Koncerty{% endblock %}
{% block body %}

<div id="odstavec">
  <div id="koncert">
    <span id="datum">23. dubna 2019</span><br>
    <span id="mesto">Neslovice, myslivna</span><button>Koupit vstupenku</button>
  </div>
</div>

<div id="odstavec">
  <div id="koncert">
    <span id="datum">5. května 2019</span><br>
    <span id="mesto">Brno, Náměstí svobody</span><button>Koupit vstupenku</button>
  </div>
</div>

<div id="odstavec">
  <div id="koncert">
    <span id="datum">3. ledna 2020</span><br>
    <span id="mesto">Šaratice, náves</span><button>Koupit vstupenku</button>
  </div>
</div>

<div id="odstavec">
  <div id="koncert">
    <span id="datum">8. února 2020</span><br>
    <span id="mesto">Ivančice, náměstí</span><button>Koupit vstupenku</button>
  </div>
</div>

<div id="odstavec">
  <div id="koncert">
    <span id="datum">13. března 2020</span><br>
    <span id="mesto">Tišnov</span><button>Koupit vstupenku</button>
  </div>
</div>


{% endblock %}
