<!DOCTYPE html>
<html lang="cs">

  <head>
    <%- include ("../partials/head"); %>
  </head>

  <body class="container">
  
    <header>
      <%- include ("../partials/header"); %>
    </header>
    
    <!--CONTENT-->
    
    CONTACT

    <!--END-CONTENT-->

    <footer>
      <%- include("../partials/footer"); %>
    </footer>

  </body>

</html>