<!DOCTYPE html>
<html lang="cs">

  <head>
    <%- include ("../partials/head"); %>
  </head>

  <body class="container">
  
    <header>
      <%- include ("../partials/header"); %>
    </header>
    
    <!--CONTENT-->
    
    <div id="odstavec">

      <h1>ERROR: 404</h1>
      <center>Hledaná stránka neexistuje nebo byla přemístěna.</center>
  
    </div>  

    <!--END-CONTENT-->

    <footer>
      <%- include("../partials/footer"); %>
    </footer>

  </body>

</html>